/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: lighten($primary, 46);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: lighten($secondary, 30);;
  }
  
  p {
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: $secondary-dark;
  }

  p::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: $primary;
    bottom: 0;
    left: calc(50% - 30px);
  }

}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: lighten($primary, 45);
  min-height: 40px;

  h2 {
    font-size: 24px;
    font-weight: 300;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;

    li + li {
      padding-left: 10px;
    }

    li + li::before {
      display: inline-block;
      padding-right: 10px;
      color: #6c757d;
      content: "/";
    }
  }

  @media (max-width: 768px) {
    .d-flex {
      display: block !important;

    }
    
    ol {
      display: block;
      li {
        display: inline-block;
      }
      
    }
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {

  h3 {
    font-weight: 700;
    font-size: 34px;
    color: $secondary-dark;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    color: $secondary;
  }

  i {
    font-size: 48px;
    margin-top: 15px;
    color: $primary-light;
  }

  p {
    font-size: 15px;
    color: lighten($default, 25);
  }

  @media (max-width: 991px) {
    .about-img img {
      max-width: 70%;
    }
  }

  @media (max-width: 767px) {
    .about-img img {
      max-width: 90%;
    }
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {

  .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0  0 40px 0;
    background: $white;
    box-shadow: 0 10px 29px 0 rgba(68,88,144,.1);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid $white;
    &:hover {
      transform: translateY(-5px);
      border-color: lighten($primary, 10);
    }
  }

  .icon {
    i {
      font-size: 48px;
      line-height: 1;
      margin-bottom: 15px;
      color: lighten($primary, 10);
    }

  }

  .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    a {
      color: #111;
    }
  }

  .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }

}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {

  .portfolio-item {
    margin-bottom: 30px;
  }

  #portfolio-flters {
    padding:0;
    margin:0 0 35px 0;
    list-style:none;
    text-align:center;

    li {
      cursor: pointer;
      margin: 0 15px 15px 0;
      display: inline-block;
      padding: 5px;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: $default;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;

      &:hover, &.filter-active {
        color: $primary;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
    
    &::before {
      content: "";
      background: rgba($secondary, 0.6);
      position: absolute;
      left: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all ease-in-out 0.3s;
      z-index: 2;
    }
    

    img {
      transition: 0.3s;
      position: relative;
      z-index: 1;
    }

    .portfolio-links {
      opacity: 0;
      left: 0;
      right: 0;
      top: calc(50% - 32px);
      text-align: center;
      z-index: 3;
      position: absolute;
      transition: all ease-in-out 0.3s;

      a {
        color: $primary;
        margin: 0 4px;
        line-height: 0;
        background-color: $white;
        padding-top: 6px;
        padding-right: 1px;
        border-radius: 50px;
        text-align: center;
        width: 32px;
        height: 32px;
        display: inline-block;
        transition: 0.3s;
        
        i {
          line-height: 0;
          font-size: 20px;
        }

        &:hover {
          background: $primary;
          color: $white;
        }

      }

    }

    .portfolio-info {
      opacity: 0;
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 3;
      transition: all ease-in-out 0.3s;

      h4 {
        font-size: 20px;
        color: $white;
        font-weight: 600;
      }

      p {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
      }
      
    }

    &:hover {
      &::before {
        left: 0;
      }

      .portfolio-links {
        opacity: 1;
        top: calc(50% - 16px);
      }
      
      .portfolio-info {
        opacity: 1;
        bottom: 0;
      }
    }
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {

  padding-top: 40px;

  .portfolio-details-slider {
    img {
      width: 100%;
    }
    .swiper-pagination {
      margin-top: 20px;
      position: relative;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid $primary;
      }

      .swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }

  }

  .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba($secondary, 0.08);

    h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;

      li +li {
        margin-top: 10px;
      }
    }
    
  }

  .portfolio-description {
    padding-top: 30px;
    
    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      padding: 0;
    }
  }

}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq  {
  padding: 60px 0;

  .faq-list {
    padding: 0;
    list-style: none;

    li {
      border-bottom: 1px solid lighten($secondary, 48);
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    .question {
      display: block;
      position: relative;
      font-family: $primary;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      font-weight: 600;
      padding-left: 25px;
      cursor: pointer;
      color: darken($primary, 10);
      transition: 0.3s;
    }

    i {
      font-size: 16px;
      position: absolute;
      left: 0;
      top: -2px;
    }

    p {
      margin-bottom: 0;
      padding: 10px 0 0 25px;
    }

    .icon-show {
      display: none;
    }


    .collapsed {
      color: $black;
      &:hover {
        color: $primary;
      }

      .icon-show {
        display: inline-block;
        transition: 0.6s;
      }

      .icon-close {
        display: none;
        transition: 0.6s;
      }
    }
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: $black;
    position: relative;
    overflow: hidden;

    .member-info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      position: absolute;
      left: 50px;
      right: 0;
      bottom: 0;
      transition: bottom 0.4s;

      h4 {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 18px;
        color: #fff;
      }
  
      span {
        font-style: italic;
        display: block;
        font-size: 13px;
        color: #fff;
      }

    }

    .social {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 50px;
      transition: left ease-in-out 0.3s;
      background: rgba($secondary-dark, 0.6);
      text-align: center;
      a {
        transition: color 0.3s;
        display: block;
        color: #fff;
        margin-top: 15px;
        &:hover {
          color: $primary;
        }

      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }

    &:hover {
      .member-info {
        background: linear-gradient(0deg, rgba($secondary-dark,0.95) 0%, rgba($secondary-dark,0.95) 15%, rgba(255,255,255,0) 100%);
        opacity: 1;
        transition:  0.4s;
      }

      .member-info-content {
        bottom: 30px;
        transition: bottom 0.4s;
      }

      .social {
        left: 0;
        transition: left ease-in-out 0.3s;
      }
    }

  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {

  .clients-slider {
    .swiper-slide {
      img {
        opacity: 0.5;
        transition: 0.3s;
        &:hover {
          opacity: 1;
        }
      }
    }
    
    .swiper-pagination {
      margin-top: 20px;
      position: relative;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid $primary;
      }

      .swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }
  }

}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact {

  .info {
    border-top: 3px solid $primary;;
    border-bottom: 3px solid $primary;;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0 , 0, .12);

    i {
      font-size: 20px;
      color: $primary;
      float: left;
      width: 44px;
      height: 44px;
      background: lighten($primary, 44);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      color: $secondary;
    }

    p {
      padding: 0 0 10px 60px;
      margin-bottom: 20px;
      font-size: 14px;
      color: lighten($secondary, 20);
    }

    .email {
      p {
        padding-top: 5px;
      }
    }

    .social-links {
      padding-left: 60px;
      a {
        font-size: 18px;
        display: inline-block;
        background: #333;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
        margin-right: 10px;
        &:hover {
          background: $primary;
          color: #fff;
        }
      }
    }

    .email:hover, .address:hover, .phone:hover {
      i {
        background: $primary;
        color: $white;
      }
    }
  }


  .php-email-form {
    width: 100%;
    border-top: 3px solid $primary;;
    border-bottom: 3px solid $primary;;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0 , 0, .12);

    .form-group {
      padding-bottom: 8px;
    }
    
    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
      & br + br {
        margin-top: 25px;
      }
    }
    
    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
  
    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
  
      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading 1s linear infinite;
      }
  
    }

    input, textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
    }

    input {
      height: 44px;
    }

    textarea {
      padding: 10px 12px;
    }

    button[type="submit"] {
      background: $primary;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px;
      &:hover {
        background: lighten($primary, 10%);
      }
    }
  
  }

  @keyframes animate-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

