/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: $white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);

  .logo {

    h1 {
      font-size: 30px;
      margin: 0;
      line-height: 1;
      font-weight: 400;
      letter-spacing: 2px;
    }

    h1 a, h1 a:hover {
      color: $secondary;
      text-decoration: none;
    }

    img {
      padding: 0;
      margin: 0;
      max-height: 40px;
    }
  }
}

#main {
  margin-top: 72px;
}
