/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  background: lighten($primary, 46);
  border-bottom: 2px solid lighten($primary, 42);
  margin: 72px 0 -72px 0;

  h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: $secondary-dark;
  }

  h2 {
    color: lighten($secondary, 15);
    margin: 15px 0 0 0;
    font-size: 24px;
  }

  .btn-get-started {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: $primary;
    &:hover {
      background: lighten($primary, 10);
    }
  }

  .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (max-width: 991px) {
    height: calc(100vh - 72px);

    .animated {
      animation: none;
    }

    .hero-img {
      text-align: center;
      img {
        width: 50%;
      } 
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
    h2 {
      font-size: 18px;
      line-height: 24px;
    }

    .hero-img img {
      width: 70%;
    }
     
  }

  @media (max-width: 575px) {

    .hero-img img {
      width: 80%;
    }
     
  }

  @media (max-height: 600px) {
    height: calc(120vh);
  }

}

 @keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
