// Default Colors Set
$default: #212529;
$default-light: #5c5c5c;
$default-dark: #222222;

// Primary Colors Set
$primary: #eb5d1e;
$primary-light: #f39e7a;
$primary-dark: #882a01;

// Secondary Colors Set
$secondary: #7a6960;
$secondary-light: #ccc2bd;
$secondary-dark: #4e4039;

// Link Colors
$links: #eb5d1e;
$links-hover:lighten($links, 10);

// General Colors
$red: #dc3545;
$green: #28a745;
$blue: #007bff;
$yellow: #ffc107;
$orange: #fd7e14;
$brown: #7b4f2c;
$purple: #6f42c1;
$pink: #e83e8c;
$white: #fff;
$gray: #6c757d;
$black: #343a40;
$teal: #20c997;
$cyan: #17a2b8;

/// Fonts
$font-default: 'Open Sans', sans-serif;
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Raleway', sans-serif;
