/*
Error: Undefined variable: "$black".
        on line 219 of scss/theme/_base.scss
        from line 27 of scss/theme-4.scss

Backtrace:
scss/theme/_base.scss:219
scss/theme-4.scss:27
/home/jared/gems/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/jared/gems/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/jared/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/jared/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/jared/gems/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/jared/gems/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/jared/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/jared/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/jared/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/home/jared/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/jared/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/home/jared/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/home/jared/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/home/jared/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/home/jared/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/home/jared/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/home/jared/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/home/jared/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/home/jared/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/home/jared/gems/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$black\".\A         on line 219 of scss/theme/_base.scss\A         from line 27 of scss/theme-4.scss"; }
